<ion-searchbar id="popover-button" animated="true" placeholder="Buscar jugador" (ionInput)="onFilter($event)"></ion-searchbar>
<!-- <ion-button id="popover-button" color="dark" fill="clear"> <ion-icon id="lupa" name="search-outline"></ion-icon>Buscar jugador</ion-button> -->
<ion-popover trigger="popover-button" alignment="center" #popover (willPresent)="onLoadPlayers()">
  <ng-template>
    <ion-content >
      <!-- <ion-searchbar id="popover-button" animated="true" placeholder="Buscar jugador" (ionInput)="onFilter($event)"></ion-searchbar> -->
      <ion-list>
        <app-player-item
          (clicked)="onPlayerClicked(popover,$event)"
          *ngFor="let player of players"
          [player]="player"></app-player-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>