<ion-header>
  <ion-toolbar>
    <ion-title>Crear plantilla</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-input #nombre label="Nombre" placeholder="Escribe el nombre" labelPlacement="fixed" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item [button]="true" id="nested-trigger">
      <ion-input #formacion [readonly]="true" label="Formación" labelPlacement="fixed" placeholder="Click para elegir" formControlName="lineUp"></ion-input>
    </ion-item>
    <ion-popover #popover trigger="nested-trigger" side="end">
      <ng-template>
        <ion-list>
          <ion-item (click)="onSelectLineUp(popover, formacion, '4-3-3')" >4-3-3</ion-item>
          <ion-item (click)="onSelectLineUp(popover, formacion, '4-4-2')" >4-4-2</ion-item>
          <ion-item (click)="onSelectLineUp(popover, formacion, '3-4-3')" >3-4-3</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
    <ion-list *ngIf="lineUp=='4-4-2'">
      <div class="posiciones">
        
      </div>
        
      <!-- <div class="posiciones">
        <ng-container *ngFor="let row of [1,2]">
          <app-player></app-player>
        </ng-container>
      </div>
      <ng-container *ngFor="let row of [1, 2]">
        <div class="posiciones">
          <ng-container *ngFor="let position of [1, 2, 3, 4]">
            <app-player></app-player>
          </ng-container>
        </div>
      </ng-container>
      <div class="posiciones">
        <app-player></app-player>
      </div> -->
    </ion-list>
    <ion-list *ngIf="lineUp=='4-3-3'">
      <ng-container *ngFor="let row of [1, 2]">
        <div class="posiciones">
          <ng-container *ngFor="let position of [1, 2, 3]">
            <app-player></app-player>
          </ng-container>
        </div>
      </ng-container>
      <div class="posiciones">
        <ng-container *ngFor="let row of [1,2,3,4]">
          <app-player></app-player>
        </ng-container>
      </div>
      <div class="posiciones">
        <app-player></app-player>
      </div>
    </ion-list>
    <ion-list *ngIf="lineUp=='3-4-3'">
      <div class="posiciones">
        <ng-container *ngFor="let row of [1,2,3]">
          <app-player></app-player>
        </ng-container>
      </div>
      <div class="posiciones">
        <ng-container *ngFor="let row of [1,2,3,4]">
          <app-player></app-player>
        </ng-container>
      </div>
      <div class="posiciones">
        <ng-container *ngFor="let row of [1,2,3]">
          <app-player></app-player>
        </ng-container>
      </div>
      <div class="posiciones">
        <app-player></app-player>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-buttons>
    <ion-button type="submit" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()">Crear</ion-button>
  </ion-buttons>
</ion-footer>