ion-card {
    width: 250px;
    height: auto;
    padding: 10px;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

ion-avatar {
    width: 100px;
    height: auto;
}