<ion-header>
  <ion-toolbar>
    <ion-title>{{(mode=='New'?'Crear Plantilla':'Editar Plantilla')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-input #nombre label="Nombre" placeholder="Escribe el nombre" labelPlacement="fixed" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item [button]="true" id="nested-trigger">
      <ion-input #formacion type="text" [readonly]="true" label="Formación" labelPlacement="fixed" placeholder="Click para elegir" formControlName="lineUp"></ion-input>
    </ion-item>
    <ion-popover #popover trigger="nested-trigger" side="end">
      <ng-template>
        <ion-list>
          <ion-item (click)="onSelectLineUp(popover, formacion, '4-3-3')" >4-3-3</ion-item>
          <ion-item (click)="onSelectLineUp(popover, formacion, '4-4-2')" >4-4-2</ion-item>
          <ion-item (click)="onSelectLineUp(popover, formacion, '3-4-3')" >3-4-3</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
    <ion-list *ngIf="formacion.value=='4-4-2'" formControlValue="players">
      <div class="positions">
        <app-player-card [player]="playersAdded[0]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[1]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[2]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[3]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[4]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[5]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[6]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[7]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[8]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[9]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[10]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
    </ion-list>
    <ion-list *ngIf="formacion.value=='4-3-3'" formControlValue="players">
      <div class="positions">
        <app-player-card [player]="playersAdded[0]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[1]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[2]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[3]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[4]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[5]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[6]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[7]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[8]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[9]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[10]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
    </ion-list>
    <ion-list *ngIf="formacion.value=='3-4-3'" formControlValue="players">
      <div class="positions">
        <app-player-card [player]="playersAdded[0]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[1]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[2]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[3]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[4]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[5]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[6]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[7]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[8]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
        <app-player-card [player]="playersAdded[9]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
      <div class="positions">
        <app-player-card [player]="playersAdded[10]" (onPlayerSelected)="onAddPlayer($event)"></app-player-card>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-buttons>
    <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{(mode=='New'?'Crear':'Guardar')}}</ion-button>
  </ion-buttons>
</ion-footer>