<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-buttons>
    <ion-button (click)="toMyTeams()">Mis plantillas</ion-button>
    <ion-button>Mis jugadores</ion-button>
  </ion-buttons>
  <div id="buscador">
    <app-player-searcher></app-player-searcher>
  </div>
  <div id="container">
    
    <div class="players">
      <app-player *ngFor="let player of players.players$ | async" [player]="player" (click)="toPlayerPage(player.id)"></app-player>
    </div>
  </div>
</ion-content>
